In [114]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [113]:
url = 'https://www.cophieu68.vn/stockonline.php?nd=2000'
response = requests.get(url)
content = BeautifulSoup(response.content, "html.parser")

In [97]:
rows = content.find_all('tr', attrs={"class":"board_tr"})
stock_name=[]
for item in rows:
    stock_name.append(item["data-value"])

In [98]:
ceiling_price = content.find_all('td', attrs={"data-group":"ceiling"})
list_ceiling_price=[]
for item in ceiling_price:
    list_ceiling_price.append(item["data-value"])

In [99]:
floor_price = content.find_all('td', attrs={"data-group":"floor"})
list_floor_price=[]
for item in floor_price:
    list_floor_price.append(item["data-value"])

In [100]:
ref_price = content.find_all('td', attrs={"data-group":"open"})
list_ref_price=[]
for item in ref_price:
    list_ref_price.append(item["data-value"])

In [101]:
price_change = content.find_all('td', attrs={"data-group":"price_change"})
list_price_change=[]
for item in price_change:
    list_price_change.append(item["data-value"])

In [102]:
volume = content.find_all('td', attrs={"data-group":"volume"})
list_volume=[]
for item in volume:
    list_volume.append(item["data-value"])

In [103]:
open_price = content.find_all('td', attrs={"data-group":"price_open"})
list_open_price=[]
for item in open_price:
    list_open_price.append(item["data-value"])

In [104]:
price_highest = content.find_all('td', attrs={"data-group":"price_highest"})
list_price_highest=[]
for item in price_highest:
    list_price_highest.append(item["data-value"])

In [105]:
price_lowest = content.find_all('td', attrs={"data-group":"price_lowest"})
list_price_lowest=[]
for item in price_lowest:
    list_price_lowest.append(item["data-value"])

In [111]:
data = pd.DataFrame({"Mã CK":stock_name,"Gía trần":list_ceiling_price,"Gía sàn":list_floor_price,"Gía TC":list_ref_price,"+/-":list_price_change,"Khối lượng":list_volume,"Gía mở cửa":list_open_price,"Cao nhất":list_price_highest,"Thấp nhất":list_price_lowest})
data.head()

,Mã CK,Gía trần,Gía sàn,Gía TC,+/-,Khối lượng,Gía mở cửa,Cao nhất,Thấp nhất
0,flc,,,3.50,,,,,
1,vpb,22.25,19.35,20.80,0.15,"8,351,000",20.95,21.05,20.70
2,pow,11.65,10.15,10.90,0.30,"5,141,700",10.95,11.25,10.90
3,tcb,34,29.60,31.80,0.25,"2,551,600",31.75,32.25,31.60
4,hpg,26.60,23.20,24.90,0.05,"15,250,000",24.85,25.30,24.65